<html>
  <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <%= wicked_pdf_stylesheet_link_tag "spree/admin/invocie_pdf" %>
  
  </head>
  <body>
    <div class="head">
      <div class="logo">
        <%# debugger %>
        <!--
          TODO Load css and image with wicked
        -->
          
        <%= image_tag "logo.png"%>
      </div>
      <div class="head-info">
        <ul>
          <li>Geekcups srls - P.Iva - C.F. - Registro imprese: 04698900281 REA: PD-41132</li>
          <li>Sede legale: via Boccaccio 9, Noventa Padovana (PD), 35027</li>
          <li>Sede operativa: via Croce Rossa 36, Padova (PD), 35129</li>
          <li>info@geekcups.com - Capitale sociale: € 900</li>
        </ul>
      </div>
    </div>
    
    <div class="customer-head">
      <div class="customer-info">
        <ul>
          <li>Spett.le </li>
          <li><%= "#{@order.bill_address.firstname} #{@order.bill_address.lastname}"%> </li>
          <li><%= "#{@order.bill_address.address1}"%> </li>
          <li><%= "#{@order.bill_address.zipcode} #{@order.bill_address.city} (#{@order.bill_address.state_name.nil? ? @order.bill_address.state.name : @order.bill_address.state_name})"%></li>
          <li>P.Iva e Cod. Fisc. IT 02259591200 </li>
        </ul>
      </div>
      <div class="head-invoice-info">
        <ul>
          <li><%= t('invoice.document')%>: <%= t('invoice.bill_of_sale')%></li>
          <li><%= t('invoice.date') %>: <%= @order.invoice.updated_at %></li>
          <li><%= t('invoice.number') %>: <%= @order.invoice.number %></li>
        </ul>
      </div>
    </div>
    
    <table>
      <tr>
        <th><%= t('invoice.description')%></th>
        <th><%= t('invoice.quantity')%></th>
        <th><%= t('invoice.unit_amount')%></th>
        <th><%= t('invoice.vat')%></th>
        <th><%= t('invoice.total')%></th>
      </tr>
      
      <% @order.line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.product.description %></td>
          <td><%= line_item.quantity %></td>
          <td><%= line_item.quantity %></td>
          <td><%= line_item.variant.price_in(line_item.product.currency).display_price %></td>
          <td>da calcpolare </td>
          <td><%= line_item.order.display_total %></td>
        </tr>
      <% end %>
    </table>
    
    <h1>Order number <%= @order.number %></h1>
    <h1>Invoice number <%= @order.invoice.number %></h1>
  </body>
</html>